# Cargo.lock remove
Cargo.lock

# personal tokens
tokens.json

# build directory
/target

# keep .gitkeep
!.gitkeep

# results directory
results/keyword
results/query
results/repository
results/profile
